@import "./utils/variables";
@import "./base/base";
@import "./base/typography";

body {
    @include tablet {
        max-width: 1050px;
    }
    @include desktop {
        max-width: 1440px;
    }
}

.logo-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding: 20px 0px 10px 0px;
}

.location-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding: 15px 0px;
    background: $color-background-gray-darker;
    &__link {
        display: flex;
        flex-direction: row;
        gap: 15px;
    }
    @include tablet {
        padding: 30px;
    }
}

.explore {
    background: $color-background-gray;
    padding: 30px 35px 50px 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    &__title {
        padding-bottom: 45px;
    }
    &__discover-text {
        font-weight: 100;
        padding-bottom: 30px;
    }
    &__button {
        border-radius: 30px;
        padding: 15px 25px;
        background: $color-background-gradient-button;
        border: none;
        color: $color-white;
        @include button-shadow;
        &:hover {
            @include darken-button-shadow;
            @include lighten-button-background;
        }
    }
}

.howitworks {
    padding: 50px 20px 60px 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0px 20px;
    &__title {
        padding-bottom: 20px;
        width: 100%;
    }
    &__numberandtext {
        padding-left: 10px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        position: relative;
        z-index: 0;
        margin: 15px 0px;
        &__number {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 4px 8px 0px;
            background-color: $color-primary;
            color: $color-white;
            font-size: $font-size-purple-index;
            border-radius: 100px;
            height: 24px;
            position: absolute;
            left: 0px;
            z-index: 1;
        }
        &__text {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            gap: 20px;
            padding: 25px 30px 20px 35px;
            background-color: $color-background-gray;
            font-size: $font-size-purple-index;
            border-radius: 20px;
            width: 100%;
            @include button-shadow;
            .icon-list {
                color: $color-icons-main-list;
                font-size: 1.2em;
                width: 8%;
            }
            &:hover {
                background-color: $color-primary-background;
                .icon-list {
                    color: $color-primary;
                }
            }
        }
        @include tablet {
            width: 30%;
        }
    }
}

.restaurants {
    padding: 55px 20px;
    background-color: $color-background-gray;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    &__title {
        padding-bottom: 0px;
        width: 100%;
        align-self: flex-start;
    }
    &__card {
        width: 100%;
        height: 250px;
        background-color: $color-white;
        border-radius: 15px;
        @include button-shadow;
        &__link {
            &__imagecont {
                width: 100%;
                height: 66%;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                overflow: hidden;
                &__photo {
                    width: 100%;
                    height: 130%;
                    object-position: 50% 50%;
                    object-fit: cover;
                }
            }
        }
    }
}