@import "./utils/variables";
@import "./base/base";
@import "./base/typography";

body {
    @include tablet {
        max-width: 1050px;
    }
    @include desktop {
        max-width: 1440px;
    }
}

.loader {
    margin: 0px;
    padding: 0px;
    position: relative;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    opacity: 1;
    animation: loader-cont 1000ms 2500ms forwards;
    &__image {
        width: 60%;
        animation: loader-img 2000ms;
        @include tablet {
            width: 25%;
        }
    }
}

.page-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
    animation: page-content 1000ms 4000ms forwards;
}

.logo-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding: 20px 0px 10px 0px;
}

.location-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding: 15px 0px;
    background: $color-background-gray-darker;
    &__link {
        display: flex;
        flex-direction: row;
        gap: 15px;
    }
    @include tablet {
        padding: 30px;
    }
}

.explore {
    background: $color-background-gray;
    padding: 30px 35px 50px 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    &__title {
        padding-bottom: 45px;
    }
    &__discover-text {
        font-weight: 100;
        padding-bottom: 30px;
    }
    &__button {
        border-radius: 30px;
        padding: 15px 25px;
        background: $color-background-gradient-button;
        border: none;
        color: $color-white;
        @include button-shadow;
        &:hover {
            @include darken-button-shadow;
            @include lighten-button-background;
        }
    }
}

.howitworks {
    padding: 50px 20px 60px 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0px 20px;
    &__title {
        padding-bottom: 20px;
        width: 100%;
    }
    &__numberandtext {
        padding-left: 10px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        position: relative;
        z-index: 0;
        margin: 15px 0px;
        &__number {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 4px 8px 0px;
            background-color: $color-primary;
            color: $color-white;
            font-size: $font-size-purple-index;
            border-radius: 100px;
            height: 24px;
            position: absolute;
            left: 0px;
            z-index: 1;
        }
        &__text {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            gap: 20px;
            padding: 25px 30px 20px 35px;
            background-color: $color-background-gray;
            font-size: $font-size-purple-index;
            border-radius: 20px;
            width: 100%;
            @include button-shadow;
            .icon-list {
                color: $color-icons-main-list;
                font-size: 1.2em;
                width: 8%;
            }
            &:hover {
                background-color: $color-primary-background;
                .icon-list {
                    color: $color-primary;
                }
            }
        }
        @include tablet {
            width: 30%;
        }
    }
}

.restaurants {
    padding: 55px 20px;
    background-color: $color-background-gray;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    &__title {
        padding-bottom: 0px;
        width: 100%;
        align-self: flex-start;
    }
    &__card {
        width: 100%;
        height: 230px;
        background-color: $color-white;
        border-radius: 15px;
        box-sizing: border-box;
        @include button-shadow;
        &__link {
            &__imagecont {
                width: 100%;
                height: 66%;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                overflow: hidden;
                &__photo {
                    width: 100%;
                    height: 175px;
                    object-position: 50% 50%;
                    object-fit: cover;
                }
            }
            &__textcont {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                height: 75px;
                align-content: space-between;
                align-items: flex-start;
                padding-right: 20px;
                &__title {
                    font-size: 0.9em;
                    padding: 10px 0px 0px 10px;
                    width: 66%;
                }
                &__location {
                    font-size: 0.9em;
                    padding: 0px 10px;
                    font-weight: lighter;
                }
                &__icon {
                    font-size: 1.2em;
                    height: 75px;
                    display: flex;
                    align-items: center;
                    position: relative;
                    z-index: 0;
                    .empty-icon {
                        position: absolute;
                        transition: opacity 250ms;
                    }
                    &:hover {
                        .empty-icon {
                            opacity: 0;
                        }
                        & .restaurants__card__link__textcont__icon--full {
                             opacity: 1;
                        }
                    }
                    &--full {
                        .full-icon {
                            background: $color-animation-gradient-icon;
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                        }
                        opacity: 0;
                        z-index: -1;
                        transition: opacity 250ms;
                    }
                }   
            }
        }
        @include tablet {
            width: 40%;
        }
    }
}

.footer {
    background-color: $color-background-footer;
    margin: 0px;
    padding: 25px;
    &__title {
        color: $color-white;
    }
    &__links {
        padding: 25px 0px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 10px;
        font-size: 0.8em;
        &__with-icon {
            display: flex;
            gap: 10px;
            color: $color-white;
            align-items: baseline;
        }
        &__without-icon {
            color: $color-white;
        }
    }
}