$color-primary: #9356DC;
$color-primary-light: lighten($color-primary, 5%);
$color-primary-background: #F5EDFF;
$color-secondary: #FF79DA;
$color-secondary-light: lighten($color-secondary, 5%);
$color-tertiary: #99E2D0;
$color-white: white;
$color-tertiary-darker: darken($color-tertiary, 50%);
$color-background-gray: #F6F6F6;
$color-background-gray-darker: #EAEAEA;
$color-background-gradient-button: linear-gradient(175deg, $color-secondary, $color-primary);
$color-animation-gradient-icon: linear-gradient(45deg, $color-secondary, $color-primary);
$color-shadow: #CACACA;
$color-icons-main-list: #7E7E7E;

$font-size-purple-index: 0.8em;

$breakpoints: (
    tablet: 1200px,
    desktop: 1440px
);

@mixin button-shadow {
    box-shadow: 0px 5px 5px $color-shadow;
}

@mixin darken-button-shadow {
    box-shadow: 0px 5px 5px darken($color-shadow, 20%);
}

@mixin lighten-button-background {
    background: linear-gradient(175deg, $color-secondary-light, $color-primary-light);
}

@mixin tablet {
    @media screen and(min-width: map-get($breakpoints, tablet)){
        @content;
    }
    }

@mixin desktop {
    @media screen and(min-width: map-get($breakpoints, desktop)){
        @content;
    }
    }

@mixin pseudo-element {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

@keyframes loader-cont {
    0%{
       opacity: 1;
    }
    100%{
       opacity: 0;
       display: none;
    }
}

@keyframes loader-img {
    0%{
        transform: scale(0.1);
        opacity: 0.2;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes page-content {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
    