$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-white: white;
$color-tertiary-darker: darken($color-tertiary, 50%);
$color-background-gray: #F6F6F6;
$color-background-gray-darker: #EAEAEA;
$color-background-gradient-button: linear-gradient(175deg, $color-secondary, $color-primary);
$color-shadow: #CACACA;

@mixin button-shadow {
    box-shadow: 0px 5px 5px $color-shadow;
}