*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    // 10px div by def of 16px
    font-size: 18px;
}

body {
    box-sizing: border-box;
    background: $colour-secondary;
}